
<h1 class="text-center">ola <%= @name[0] %> </h1>
<p>Biblioteca do Sr Juvenal</p>
<ul>
    <li><%= link_to "Clientes",clients_path %> </li>
    <li><%= link_to "Books", books_path %></li>
    <li><%= link_to "Librarians", librarians_path %></li>
    <li><%= link_to "Reservations", reservations_path %></li>
</ul>