<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.Name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.Author_id %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
