<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Active %>
    <%= form.check_box :Active %>
  </div>

  <div class="field">
    <%= form.label :book_id %>
    <%= collection_select(:reservation, :book_id, @books,:id,:Name)%>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= collection_select(:reservation, :client_id, @clientes,:id,:Name)%>
  </div>

  <div class="field">
    <%= form.label :librarian_id %>
    <%= collection_select(:reservation, :librarian_id, @librarians,:id,:Name)%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
